name: Deploy

on:
  workflow_run:
    workflows: ["Python Tests"]   # must match Workflow A's `name:`
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted
    steps:
      - run: echo "Deploying because CI passed"
      
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Debug which deploy.sh runs
        run: |
            pwd
            ls -la
            ls -la deploy.sh
            head -n 60 deploy.sh


      - name: Debug runner user
        run: |
          whoami
          id
          which systemctl
      - name: Run deploy script
        run: |
            chmod +x deploy.sh
            ./deploy.sh
            
      - name: Restart mobypark service
        run: |
          sudo -n /usr/bin/systemctl daemon-reload
          sudo -n /usr/bin/systemctl restart mobypark
          sudo -n /usr/bin/systemctl status mobypark 
