name: Hello pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:
  
jobs:
  pipeline-job-definition:
    runs-on: ubuntu-latest
    env:
      PYTHONPATH: .
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install fastapi uvicorn pytest requests
      - name: Start server
        run: |
          nohup python -u MobyPark/api/server.py >/dev/null 2>&1 &
          for i in {1..30}; do
            if curl -fsS "http://localhost:8000/index" > /dev/null; then
              echo "Server is up"
              exit 0
            fi
            echo "waiting for server..."; sleep 1
          done
          echo "pipeline failed: server did not start" > result.txt
          exit 1

      - name: Run unit tests
        run: |
          set +e
          pytest -v tests/unit
          STATUS=$?
          set -e
          if [ $STATUS -ne 0 ]; then
            echo "pipeline failed: some unit tests did not pass" > result.txt
            exit 1
          fi

      - name: Run endpoint tests
        run: |
          set +e
          pytest -v tests/e2e
          STATUS=$?
          set -e
          if [ $STATUS -ne 0 ]; then
            echo "pipeline failed: some system tests did not pass" > result.txt
            exit 1
          fi
          
      - name: Run integration tests
        run: |
          set +e
          pytest -v tests/integration
          STATUS=$?
          set -e
          if [ $STATUS -ne 0 ]; then
            echo "pipeline failed: some system tests did not pass" > result.txt
            exit 1
          fi

      - name: Upload failure reason
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: result.txt
          if-no-files-found: ignore
